<table class='view'>
  <tr>
    <th>#</th>
    <th>Manager name</th>
    <th>Total Points</th>
    <th>Fit Players</th>
    <th>Original Cost</th>
    <th>Remaining after sales</th>
  </tr>
<% i = 1
   z = Team.home_page
 %>
<% z.each do |team,points| %>
  <tr>
    <td><%= i %></td>
    <td><%= link_to(team.team_name, team_path(team)) %></td>
    <td>
      <span stlye="width:50px;float:right"><%= points %></span>
      <%= image_tag('bar.png', :width => points/2, :height => 16, :style=>"float:left;margin-right:5px;") %>
    </td>
    <td><%= team.fit_players %></td>
    <td><%= team.cost_to_s %></td>
    <td><%= team.remaining_to_s %></td>
  </tr>
<% 
  i = i+1
  end %>
</table>

<canvas id="example" width="1000" height="800"></canvas>

 <script type="text/javascript">
   var g = new Bluff.Line('example', '1000x800');
   g.tooltips = true;
   g.hide_dots = true;
   g.line_width = 3;
   g.y_axis_increment = 50;
   
   g.set_theme({
     colors: ['green', 'blue', 'orange', 'grey', 'red', '#8AB9BF', '#6B3D7A', 'pink', '#8D3F03', '#FBDD3D'],
     marker_color: '#aea9a9',
     font_color: 'black',
     background_colors: ['#ffffff', '#ffffff']
   });

   <% x = Team.team_graph %>
   
   <% z.each do |team,points| %>

    g.data("<%=team.team_name-%>", <%=x[team][0..14]%>);
   
   <% end %>

   g.labels = {0: '1', 4: '5', 9: '10', 14: '15'};
   g.x_axis_label = "Gameweek";

   g.draw();
 </script>