<h2>Teams</h2>

<h2>Data</h2>

<table class='view'>
  <tr>
    <th>#</th>
    <th>Manager name</th>
    <th>Total Points</th>
    <th>Fit Players</th>
    <th>Cost</th>
    <th>Remaining</th>
  </tr>
<% i = 1 %>
<% Team.home_page.each do |team,points| %>
  <tr>
    <td><%= i %></td>
    <td><%= link_to(team.team_name, team_path(team)) %></td>
    <td>
      <span stlye="width:50px;float:right"><%= points %></span>
      <%= image_tag('bar.png', :width => points/2, :height => 16, :style=>"float:left;margin-right:5px;") %>
    </td>
    <td><%= team.fit_players %></td>
    <td><%= team.cost_to_s %></td>
    <td><%= team.remaining_to_s %></td>
  </tr>
<% 
  i = i+1
  end %>
</table>