<h2>Teams</h2>

<%= show_graph('total') -%>

<%= show_graph('gameweek') -%>

<h2>Data</h2>

<table class='view'>
  <tr>
    <th>Manager name</th>
    <th>Team name</th>
    <th>Total Points</th>
    <th>Cost</th>
    <th>Remaining</th>
  </tr>

<% @teams.each do |team| %>
  <tr>
    <td><%= link_to(team.manager_name, team_path(team)) %></td>
    <td><%= team.team_name %></td>
    <td><%= team.total_points %></td>
    <td><%= team.cost_to_s %></td>
    <td><%= team.remaining_to_s %></td>
  </tr>
<% end %>
</table>

<br />

