<h1>Listing players</h1>

<table>
  <tr>
    <th>FFID</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Web name</th>
    <th>Team</th>
    <th>Value</th>
    <th>Points</th>
    <th></th>
  </tr>

<% @players.each do |player| %>
  <tr>
    <td><%= player.ff_id %></td>
    <td><%= player.first_name %></td>
    <td><%= player.last_name %></td>
    <td><%= player.web_name %></td>
    <td><%= player.team %></td>
    <td><%= player.value %></td>
    <td><%= player.total_points %></td>
    <td><%= link_to 'Show', player %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Player', new_player_path %>
