<p id="notice"><%= notice %></p>

<p>
  <b>Ff:</b>
  <%= @player.ff_id %>
</p>

<p>
  <b>First name:</b>
  <%= @player.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @player.last_name %>
</p>

<p>
  <b>Team:</b>
  <%= @player.team %>
</p>

<p>
  <b>Current Value:</b>
  <%= @player.value %>
</p>

<p>
  <b>Total Points</b>
  <%= @player.total_points %>
</p>

<p>
  <b>Gameweek Points</b>
  <%= @player.gameweek_points %>
</p>

<p>

  <b>Web name:</b>
  <%= @player.web_name %>
</p>

<p>
  <b>Data:</b>
  <%= @player.data %>
</p>


<%= link_to 'Back', players_path %>
