<p id="notice"><%= notice %></p>

<table>
  <tr>
    <td><%= image_tag(@player.photo_url) -%></td>
    <td>
      <ul>
        <li><h2><%= @player.first_name %> <%= @player.last_name -%></h2></li>
        <li><b>ID:</b> <%= @player.ff_id %></li>
        <li><b>Club:</b> <%= @player.team %></li>
        <li><b>Current Value:</b> <%= @player.value %></li>
        <li><b>Total Points</b><%= @player.total_points %></li>
    </td>
  </tr>
</table>


<p>
  <b>Data:</b>
  <% @player.data.each do |a,b| %>
    <%= "#{a} => #{b}" -%> <hr/>
  <% end %>
</p>

