<p id="notice"><%= notice %></p>

<p>
  <b>Ff:</b>
  <%= @player.ff_id %>
</p>

<p>
  <b>First name:</b>
  <%= @player.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @player.last_name %>
</p>

<p>
  <b>Web name:</b>
  <%= @player.web_name %>
</p>

<p>
  <b>Data:</b>
  <%= @player.data %>
</p>


<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
